<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Cat Encyclopedia.</title>
    <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>
    <div class="nav-bar-container">
      <ul class="navigation-bar">
        <a href="/">Home</a>
        <a href="/cat-breeds">Cat Breeds</a>
        <a href="/choose-for-me">Choose for Me</a>
      </ul>
    </div>
    <div class="header-box">
      <h1 class="main-header">The Cat Encyclopedia.</h1>
      <h3 class="tagline">Discover the Purrfect Breed: All the Facts About Your Favourite Cats</h3>
    </div>
    <script src="/client.js"></script>
  </body>
</html>
